<!DOCTYPE html>
<html>
<head>
  <title>Hurricane Georges</title>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="container">
		<header>
			<div class="title">Hurricane Georges</div>

			<%= image_tag("hurricane_isabelle.jpg", alt:"a satellite photo of a hurricane")%>

			<nav class="round">
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
				<ul>
			</nav>
		</header>
		<section class="round">
			<%= yield %>
		</section>
	</div>
</body>
</html>
